extends base
block vars
	-var title='Home Page'

	block body
	h1 Sathya Demo
	h2.
		Welcome to Sathya Auth! Home page. Please <a href="/register">register</a> or <a href="/login">login</a> to continue!